.enquiry1{
    padding: 20px;
}
.enquiry2{
    font-size: 20px;
    font-weight: 700;
    color: brown;
}
.enquiry3{
background-color: antiquewhite;
}
.enquiry4{
    text-align: center;
}
.enquiry5{
    display: flex;
    justify-content: space-around;
}
.enquiry6{
    padding: 20px;
}
.enquiry7{
font-size: 20px;
font-weight: 700;
text-align: center;
padding: 30px;
}